*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}


.home-menu nav .max-width {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    padding: 10px 20px;
    margin-top: 10px;

}

ul, li {
    list-style-type:none;
}

.home-menu {
    padding-top: 2px;
    background-color: #ffffff;
    position: sticky;
    z-index: 1;
    top: 0;
}

.home-menu nav {
    height: 80px;
}

.home-menu nav .menu a {
    margin-left: -15px;
    display: inline-block;
    padding: 10px 20px;
    color: #49c8f0;
    font-size: 20px;
    letter-spacing: -.5px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.home-menu nav .input-bar {
    margin-top: 10px;
    padding: 0px 20px;
}
#search-input {
    background: none;
    vertical-align: middle;

    padding:7px 10px;
    width: 200px;
    border: 1px solid #49c8f0;
    border-radius: 4px;
}

.home-menu nav .user {
    max-width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
nav .user a {
    margin-inline-start: 20px;
    color: #49c8f0;
    margin-block-end: 20px;
}

#blackline {
    height: 1.5px;
    background-color: #49c8f0;
}

/* form */

.title {
    display: flex;
    justify-content: center;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.container {
    padding: 20px;
    display: block;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #49c8f0; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  

input[type=submit] {
    background-color: #49c8f0;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* Footer */
.footer {
    padding: 50px 50px 0 50px;
    background-color: #717171;
    display: flex;
    justify-content: space-around;
}
.footer-title img {
    width: 12%;
}

.footer-des {
    color:#a0a0a0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin-left: 25px;
    cursor: pointer;
}

.footer-des a {
    color: #a0a0a0;
}
.footer-des a:hover {
    color: #ffffff;
    transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.footer-des:hover {
    color: #ffffff;
    transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.footer-aside {
    background-color: #717171;
    color: #ffffff;
    padding: 40px 62px 30px 0px;
    display: flex;
    justify-content: flex-end;
}

.footer-aside a{
    color: #b8b8b8;
    font-size: 12px;
    margin-right: 100px;
}

.footer-aside a:hover{
    color: black;
}